body {
    background-color: #070091;
    color: white;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

footer {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium';
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    flex: 0 30px;
    /* flex-direction: row;
    justify-items: space-between;
    align-content: center; */
}

header {
    width: 100%;
    font-family: 'Franklin Gothic Medium';
    display: flex;
    /* flex: 0 60px; */
    justify-content: space-between;
    align-items: center;
    
}

a {
    color: white;
}

.main_box {
    background-color: white;
    color: white;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%;
    width: 100%;

}

.menu_button {
    border-radius: 10px;    
    background-color: #747474;
    border-color: #ffffff;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50cqw;
    height: 10cqh; 
    /* margin: 20px 0; */
    font-size: 5cqh;
}  

.vocab_box {
    background-color: white;
    color: white;
    display: flex;
    gap: 0.5rem;
    padding: 10px;
    align-items:center;
    justify-items: center;
    place-content: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%;
    width: 100%;

}

.vocab_button{
    border-radius: 50%;    
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10cqw;
    height: 10cqw; 
    /* margin: 0.5rem 0; */
    font-size: 5cqh;
    overflow: hidden;

}

.vocab_button img {
    width: 175%;
    height: 105%;
    object-fit: cover;
}

.button-figure {
    margin-left: 5cqw;
    margin-right: 5cqw;
    margin-bottom: 5cqh;
    margin-top: 5cqh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vocab_button_caption {
    color: rgb(0, 0, 0); 
    font-size: 1em; 
    margin-top: 5px; 
    text-align: center; 
}

/* .vocab_img {
    size: 100%
} */

.main_box_settings {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%;
    width: 100%;

}

#title{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
}

.username_box {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex:0.5 45px;
}

.username_box > * {
    padding: 10px;
}

.github_linkbox {
    grid-column: 3;
    justify-self: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.github_linkbox > *{
    margin: 0.5rem;
}

.nav_box{
    grid-column: 2;
    justify-self: center;
}

.link_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-inline-start: 0%;
}

.button_link{
    text-decoration: none;
}

#studied_notification{
    background-color: white;
    border-radius: 20px;
    border-width: 1px ;
    color: black;
    align-self: flex-end;
    transform: translateX(100%);
    animation-name: slide_in_out;
    animation-duration: 10s;
    margin-bottom: 0.5rem;
}

#notification_text{
    margin: 0.5rem;
}

@keyframes slide_in_out{
    0% {
        transform: translateX(115%);
    }
    15% {
        transform: translateX(-15%);
    }
    85% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(115%);

    }
}