body {
    background-color: #070091;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

footer {
    font-family: 'Franklin Gothic Medium';
    display: flex;
    flex: 0 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    font-family: 'Franklin Gothic Medium';
    display: flex;
    flex: 0 80px;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
}

a {
    color: white;
}

.main_box {
    background-color: white;
    color: white;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%;
    width: 100%;

}

.menu_button {
    border-radius: 10px;    
    background-color: #747474;
    border-color: #ffffff;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50cqw;
    height: 10cqh; 
    /* margin: 20px 0; */
    font-size: 5cqh;
}  

.vocab_box {
    background-color: white;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%;
    width: 100%;

}

.vocab_button{
    border-radius: 50%;    
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20cqh;
    height: 20cqh; 
    margin: 10px 0;
    font-size: 5cqh;
    overflow: hidden;
    position: relative; 
}

.vocab_button img {
    width: 150%;
    height: 110%;
    object-fit: cover;
}

.button-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vocab_button_caption {
    color: rgb(0, 0, 0); 
    font-size: 1em; 
    margin-top: 5px; 
    text-align: center; 
}

/* .vocab_img {
    size: 100%
} */

.main_box_settings {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%;
    width: 100%;

}

/* #title{
    left: 0;
    margin-left: 10px;
} */

.username_box {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex:0.5 45px;
}

.username_box > * {
    padding: 10px;
}

.github_linkbox {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 10px;
}

.github_linkbox > *{
    margin:10px
}

.link_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-inline-start: 0%;
}

.button_link{
    text-decoration: none;
}

#studied_notification{
    background-color: white;
    border-radius: 20px;
    border-width: 1px ;
    color: black;
    align-self: flex-end;
    transform: translateX(100%);
    animation-name: slide_in_out;
    animation-duration: 10s;
    margin-bottom: 0.5rem;
}

#notification_text{
    margin: 0.5rem;
}

@keyframes slide_in_out{
    0% {
        transform: translateX(115%);
    }
    15% {
        transform: translateX(-15%);
    }
    85% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(115%);

    }
}